
body{
    overflow: hidden;
    background-color: rgb(35, 35, 35);
}

#frame_container{


    width:50vw;
    display: flex;
    justify-content: center;
    overflow: hidden;

    


}

#frame{

    height:50vh;

}

#Kreis{
    width: 10%;
    
    
}