body{
    background-color:  rgb(35, 35, 35);

}



#Hummeln{
    width:50%;
}
#Alphabet{
    width:50%;
}
p{
    color: whitesmoke;
    font-size: 6vw;
    font-family: myfont;
    text-align: right;
    position: fixed;
    left: 55%;
    

}
p1{
    color: whitesmoke;
    font-size: 6vw;
    font-family: myfont;
    text-align: right;
    position: relative;
   left: 50%;

}
p2{
    color: whitesmoke;
    font-size: 6vw;
    font-family: myfont;
    text-align: right;
    position: relative;
    left: 40%;

}

#Kreis{
    width: 10%;
    bottom:0%;
    right:0%;
}

@font-face {
    font-family: myfont;
    src: url(./fonts/BebasNeue-Regular.ttf);
}

  