body{
    background-color: black;
}

p1{
    color: whitesmoke;
    font-size: 3vw;
    font-family: myfont;
    text-align: right;
    position: fixed;
    left: 30%;

}
p2{
    color: whitesmoke;
    font-size: 3vw;
    font-family: myfont;
    text-align: right;
    position: fixed;
    left: 60%;
}

@font-face {
    font-family: myfont;
    src: url(./fonts/BebasNeue-Regular.ttf);