body{
    background-color: black;

}
#Bild3 {
    width: 50%;
}
#Bild5{
    width:50%;
}
#Bild6{
    width:50%;
}
#Textbild{
    width:50%;
}
#Zahnbürste2{
    width: 50%;
}
#Hummeln{
    width:50%;
}
p{
    color: whitesmoke;
    font-size: 3vw;
    font-family: myfont;
    text-align: right;

    position: fixed;
}
@font-face {
    font-family: myfont;
    src: url(./fonts/BebasNeue-Regular.ttf);
}
@media(orientation: portrait){
    #Bild3{
        widht:100vw;
    }
}