body{
    background-color: rgb(35, 35, 35);;
}
p1{
    color:whitesmoke;
    font-size: 5vw;
    font-family: myfont ;
    text-align:top left;
    position: relative;
    left:30%;
   
}
p2{
    color:whitesmoke;
    font-size: 5vw;
    font-family: myfont ;
    text-align:top right;
    position: relative;
    left: 50%;
    
}
p3{
    color:whitesmoke;
    font-size: 5vw;
    font-family: myfont ;
    text-align:top right;
    position: relative;
    left: 10%;
    
}

@font-face {
    font-family: myfont;
    src: url(./fonts/BebasNeue-Regular.ttf);
}