body{
    background-color: black;
}
p{
    color:whitesmoke;
    font-size: 10vw;
    font-family: myfont ;
    text-align:center;

    
    

}
p:hover{
    color: ;
}

@font-face {
    font-family: myfont;
    src: url(./fonts/BebasNeue-Regular.ttf);
}

