body{
    background-color: rgb(35, 35, 35);;
}
p1{
    color:whitesmoke;
    font-size: 8vw;
    font-family: myfont ;
    text-align:top left;
    position: relative;
    left:20%;
   
}
p2{
    color:whitesmoke;
    font-size: 8vw;
    font-family: myfont ;
    text-align:top right;
    position: relative;
    left: 40%;
    
}
p3{
    color:whitesmoke;
    font-size: 8vw;
    font-family: myfont ;
    text-align:center;
    position: relative;

   
    
}

#Kreis{
    width:10%;
}

#Pfeil{
    width:90%;
    
}
div1 {

  padding:10px;
  display: inline-block;
  position: absolute;
  right:1%;
  top: 70%;
  

}
a:link{
    text-decoration: none;
}


  


@font-face {
    font-family: myfont;
    src: url(./fonts/BebasNeue-Regular.ttf);
}