body{
    background-color:  rgb(35, 35, 35);

}


#Textbild{
    width:50%;
}
#Zahnbürste2{
    width: 50%;
}
#Hummeln{
    width:50%;
}
p{
    color: whitesmoke;
    font-size: 6vw;
    font-family: myfont;
    text-align: right;
    position: fixed;
    left: 55%;
    

}
p1{
    color: whitesmoke;
    font-size: 6vw;
    font-family: myfont;
    text-align: right;
    position: relative;
   left: 40%;

}
p2{
    color: whitesmoke;
    font-size: 6vw;
    font-family: myfont;
    text-align: right;
    position: relative;
    left: 40%;

}


@font-face {
    font-family: myfont;
    src: url(./fonts/BebasNeue-Regular.ttf);
}
@media(orientation: portrait){
    #Bild3{
        widht:100vw;
    }
}