
body{
    overflow: hidden;
    background-color: black;
}

#frame_container{


    width:50vw;
    display: flex;
    justify-content: center;
    overflow: hidden;


}

#frame{

    height:50vh;

}
